# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear

# IDE settings
/.idea/
/.project
/.classpath
/.settings/
/*.iml

# Maven/Gradle
/target/
/build/

# STS specific
.springBeans
